{% extends 'base.html' %}
{% load staticfiles %}

{% block page_styles %}
    <link href="{% static 'balancer/css/balancer-result.css' %}" rel="stylesheet">
{% endblock page_styles %}

{% block content %}

<div class="page-overview">
    <div class="page-overview-primary">
        <div class="page-overview-title">
            <h1>
                Team balancer
            </h1>
        </div>
    </div>
</div>

<section>
    <header>
        <a> Add players </a>
    </header>
    <article class="col-xs-5">
        <form action="{% url 'balancer:balancer-input' %}" method="post">
            {% csrf_token %}

            <div class="table-responsive">
                <table class="table table-borderless  ">
                    <thead>
                        <tr>
                            <th class="col-xs-7">Player</th>
                            <th class="col-xs-5">MMR</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for field in form %}
                            {% cycle 'True' 'False' as odd silent %}

                            {% if odd == 'True' %}
                                <tr>
                            {% endif %}

                            <td>
                                <div class="field-wrapper">
                                    {{ field.errors }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            </td>

                            {% if odd == 'False' %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="submit" value="Balance"/>
        </form>

        {% if form.non_field_errors %}
            <br><br>
            Errors:
            {{ form.non_field_errors }}
        {% endif %}
    </article>
</section>
{% endblock %}

