Django==1.9
jsonfield==1.0.3
whitenoise==3.2.2
django-autocomplete-light==3.2.1
django-debug-toolbar==1.5
django-autoslug==1.9.3
django-solo==1.1.2
dota2==0.3.0

git+git://github.com/unclevasya/django-pure-pagination.git@disablable_margins
