Django==1.9
jsonfield==1.0.3
whitenoise==3.2.2
django-autocomplete-light==3.2.1
django-debug-toolbar==1.5
django-autoslug==1.9.3
django-solo==1.1.2
discord.py==1.5.1
timeago==1.0.14
django-annoying==0.10.4
django-reverse-admin==1.0.0
pytz==2020.1

git+git://github.com/unclevasya/django-pure-pagination.git@disablable_margins
git+git://github.com/unclevasya/dota2.git@protobufs_update
