{% extends "base.html" %}
{% load static %}

{% block page_scripts %}
{% endblock page_scripts %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'ladder/css/lobby_status.css' %}">
{% endblock page_styles %}

{% block content %}

<div class="page-overview">
    <div class="page-overview-primary">
        <div class="page-overview-title">
            <h1> Lobby status
                <small>{% block player-page-title %} {% endblock %}</small>
            </h1>
        </div>
    </div>

    <div class="page-overview-secondary">
            <dl>
                <dd>{{ lobbies_ready }}</dd>
                <dt> Ready </dt>
            </dl>
            <dl>
                <dd>{{ lobbies_game }}</dd>
                <dt> In game </dt>
            </dl>
    </div>
</div>

{% for lobby in lobbies %}
    <div class="col-md-6">
        {% include 'ladder/lobby_status_table.html' %}
    </div>
{% endfor %}

{% endblock content %}
