{% extends 'ladder/player_overview.html' %}
{% load static %}

{% block page_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.0/js/jquery.tablesorter.js"></script>
    <script src="{% static 'ladder/js/ladder.js' %}"></script>
    <script src="{% static 'ladder/js/player_teammates.js' %}"></script>
{% endblock page_scripts %}

{% block player-page-title %} Teammates {% endblock %}

{% block player-content %}

<section>
<article>
    {% include 'ladder/player_teammates_table.html' %}
</article>
</section>

{% endblock player-content %}