{% extends 'base.html' %}
{% load staticfiles %}

{% block page_scripts %}
    <script src="{% static 'ladder/js/ladder.js' %}"></script>
{% endblock page_scripts %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'ladder/css/ladder.css' %}">
{% endblock page_styles %}

{% block content %}
    {% url 'ladder:player-overview' player.slug as player_url %}

    <div class="page-overview">
        <div class="page-overview-primary">
            <div class="avatar">
                <a href="{{ player_url }}">
                    <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/60/6009ebd5640bed7c75004558733d63493ff2eaf8_full.jpg" alt="{{ player.name }}">
                </a>
            </div>
            <div class="page-overview-title">
                <h1> {{ player.name }}
                    <small class="country">{{ player.country }}</small>  {# TODO: fill it #}
                    <small>{% block player-page-title %}Overview{% endblock %}</small>
                </h1>
            </div>
        </div>

        <div class="page-overview-secondary">
            <dl>
                <dd>
                {% with player.matchplayer_set.first.match.date as last_played %}
                    <time class="timeago"
                          datetime="{{ last_played|date:'c' }}"
                          title="{{ last_played }}">
                        {{ last_played|date:'c'|default:'-' }}
                    </time>
                {% endwith %}
                </dd>
                <dt>Last Match</dt>
            </dl>
            <dl>
                <dd>
                    <span class="match-record">
                        <span class="wins">{{ wins }}</span>
                        <span class="sep">-</span>
                        <span class="losses">{{ losses }}</span>
                    </span>
                </dd>
                <dt>Record</dt>
            </dl>
            <dl>
                <dd>{{ winrate|floatformat:2 }}%</dd>
                <dt>Win Rate</dt>
            </dl>
        </div>
    </div>

    {% if player.name == 'Ulafzs' %}
        <div class="test-winner">
            Day 1 winner!
        </div>
    {% endif %}

    <div class="page-menu">
        {% url 'ladder:player-overview' player.slug as player_score_url %}
        {% url 'ladder:player-teammates' player.slug as player_teammates_url %}

        <nav class="menu-links">
            {% with request.resolver_match.url_name as page %}
            <ul>
                <li class="{% if page == 'player-overview' %}active{% endif %}">
                    <a href="{{ player_score_url }}">Score history</a></li>

                <li class="{% if page == 'player-teammates' %}active{% endif %}">
                    <a href="{{ player_teammates_url }}">Teammates</a></li>
            </ul>
            {% endwith %}
        </nav>
    </div>

    {% block player-content %}
    <section>
    <header> Score history </header>
    <article>
        <div class="table-responsive table-borderless">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="col-xs-4">Event</th>
                        <th class="col-xs-2">Ladder MMR</th>
                        <th class="col-xs-3">MMR change</th>
                        <th class="col-xs-3">Additional info</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in score_changes %}
                    {% with event.match.match.balance as balance %}
                        {% url 'balancer:balancer-answer' balance.result.id balance.id as match_url %}

                        <tr class="match-row" data-link="{{ match_url }}">
                            <td>
                            {% if not event.match %}
                                 {# admin bonus or penalty #}
                                <div
                                    {% if event.mmr_change > 0 %}
                                        class="admin-bonus"
                                    {% else %}
                                        class="admin-penalty"
                                    {% endif %}>
                                    Admin action
                                </div>
                            {% elif event.match.team == event.match.match.winner %}
                                <div>
                                    <a class="win" href="{{ match_url }}"> Won match </a>
                                </div>
                            {% else %}
                                <div>
                                    <a class="loss" href="{{ match_url }}"> Lost match </a>
                                </div>
                            {% endif %}

                             {% with event.date as time %}
                                <time class="subtext timeago"
                                      datetime="{{ time|date:'c' }}"
                                      title="{{ time }}">
                                    {{ time|date:'c'|default:'-' }}
                                </time>
                            {% endwith %}
                            </td>

                            <td>
                                {{ event.mmr }}
                            </td>

                            <td>
                               {{ event.mmr_change|stringformat:'+d' }}
                            </td>

                            <td>
                                {% if event.match %}
                                    <a href="">Dotabuff</a>
                                    &nbsp;
                                    <a href="">Opendota</a>
                                {% else %}
                                    {{ event.info }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
    </section>
    {% endblock player-content %}
{% endblock content %}