<section>
<header> {{ caption }} </header>
<article>
    <div class="row stats-row">
        <div class="col-md-4 stats-element">
            <div class="stats-value">
                <div class="cell-wrapper layout-widget-wrapper">
                    <span> 750 </span>
                </div>
            </div>
            <div class="stats-caption">
                <span>
                    <p>Games played</p>
                </span>
            </div>
        </div>

         <div class="col-md-4 stats-element">
            <div class="stats-value">
                <span> 750 </span>
            </div>
            <div class="stats-caption">
                <span>
                    <p>Active players</p>
                </span>
            </div>
        </div>

         <div class="col-md-4 stats-element">
            <div class="stats-value">
                <div class="cell-wrapper layout-widget-wrapper">
                    <span> 750 </span>
                </div>
            </div>
            <div class="stats-caption">
                <span>
                    <p>Average MMR</p>
                </span>
            </div>
        </div>
    </div>
</article>
</section>