.color-bar .score {
    background: #A9CF54;
}

.color-bar .mmr{
    background: #EA030E;
}

.color-bar .matches {
    background: #FBB829;
}

.match-record {
    color: #979797;
}

.match-record .wins, .match-row .win {
    color: #A9CF54;
}

.match-record .sep {
    padding: 0 2px;
}

.match-record .losses, .match-row .loss {
    color: #C23C2A;
}

.match-record .draws, .match-row .draw {
    color: #979797;
}

.test-winner {
    color: #39CCCC;
}

div.test-winner {
    font-size: 1.3em;
    font-weight: 800;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    text-transform: uppercase;
    margin-top: 12px;
}